#add-book-form {
  display: none;
}

#book-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-items: center;
}

/* general styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* form styles */
form {
  display: none;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="number"],
input[type="checkbox"] {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

input[type="checkbox"] {
  display: inline-block;
  margin-right: 0.5rem;
}

button[type="submit"],
button.remove-button {
  padding: 0.5rem;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

button.remove-button {
  background-color: #d9534f;
}

/* book card styles */
.book-card {
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  text-align: center;
}
.book-card h2 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.book-card p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.book-card p:last-child {
  margin-bottom: 0;
}
